.profile {
  position: relative;
  width: 100%;
  height: 280px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profileBg {
  height: 131px;
  display: block;
  background: url(../../../img/bg-profile.png);
}

.profileText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 145px;
  padding-bottom: 20px;
}

.profileText__name {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.profileText__profession {
  margin-top: 9px;
  font-weight: 300;
  color: rgba(128, 124, 124, 1);
}


.profileLogo {
  width: 105px;
  height: 105px;
  border: 6px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile input{
  margin-right: 0;
}