.users{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-between;
}

.numberPage span{
  cursor: pointer;
  display: inline-block;
  margin: 0 10px 20px;
}

.numberPage span.active{
  font-weight: 900;
  font-size: 18px;
}