.hashtags {
  font-weight: 400;
  background: white;
  padding: 25px 30px;
}

.hashtags p {
  text-transform: uppercase;
  padding-bottom: 15px;
  border-bottom: 1px solid #F4F4F4;
  margin-bottom: 20px;
}

.hashtag {
  display: inline-block;
  background: #E9F0F8;
  border-radius: 4px;
  padding: 7px 14px;
  margin-right: 10px;
}